# Notebook For Capstone Project

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import geocoder

## Scraping the table from wikipedia

In [2]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = dfs[0]
df.describe(include ="all")
df.dtypes

Postal code     object
Borough         object
Neighborhood    object
dtype: object

In [3]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
Postal code     180 non-null object
Borough         180 non-null object
Neighborhood    103 non-null object
dtypes: object(3)
memory usage: 4.3+ KB

In [4]:
df.head(12)

   Postal code           Borough                                  Neighborhood
0          M1A      Not assigned                                           NaN
1          M2A      Not assigned                                           NaN
2          M3A        North York                                     Parkwoods
3          M4A        North York                              Victoria Village
4          M5A  Downtown Toronto                    Regent Park / Harbourfront
5          M6A        North York             Lawrence Manor / Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
7          M8A      Not assigned                                           NaN
8          M9A         Etobicoke                              Islington Avenue
9          M1B       Scarborough                               Malvern / Rouge
10         M2B      Not assigned                                           NaN
11         M3B        North York                                     Don Mills

## Renaming the column to PostalCode

In [5]:
df.rename(columns = {"Postal code":"PostalCode"}, inplace=True)
df.dropna(subset=["Borough"], axis =0 , inplace =True)

In [6]:
df.info(12)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 0 to 179
Data columns (total 3 columns):
PostalCode      180 non-null object
Borough         180 non-null object
Neighborhood    103 non-null object
dtypes: object(3)
memory usage: 5.6+ KB

## Ignoring the cells where borough is Not assigned

In [7]:
df1 = df[df.Borough!='Not assigned']
df1.head(12)

,PostalCode,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
8,M9A,Etobicoke,Islington Avenue
9,M1B,Scarborough,Malvern / Rouge
11,M3B,North York,Don Mills
12,M4B,East York,Parkview Hill / Woodbine Gardens
13,M5B,Downtown Toronto,"Garden District, Ryerson"
14,M6B,North York,Glencairn
17,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...

In [8]:
df1.loc[df1['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df1['Borough']
df1.head(12)

C:\Users\RaunaksPC\Anaconda2\envs\Runtime_Terror\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\RaunaksPC\Anaconda2\envs\Runtime_Terror\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,PostalCode,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
8,M9A,Etobicoke,Islington Avenue
9,M1B,Scarborough,Malvern / Rouge
11,M3B,North York,Don Mills
12,M4B,East York,Parkview Hill / Woodbine Gardens
13,M5B,Downtown Toronto,"Garden District, Ryerson"
14,M6B,North York,Glencairn
17,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...

## Combing rows

In [9]:
df2= df1.groupby(['PostalCode','Borough'], sort=False).agg( ', '.join)
df2.head()

                                                             Neighborhood
PostalCode Borough
M3A        North York                                           Parkwoods
M4A        North York                                    Victoria Village
M5A        Downtown Toronto                    Regent Park / Harbourfront
M6A        North York                   Lawrence Manor / Lawrence Heights
M7A        Downtown Toronto  Queen's Park / Ontario Provincial Government

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 103 entries, (M3A, North York) to (M8Z, Etobicoke)
Data columns (total 1 columns):
Neighborhood    103 non-null object
dtypes: object(1)
memory usage: 2.0+ KB

In [11]:
df2.shape

(103, 1)

In [12]:
df3 = df2.reset_index()
df3.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [13]:
df3.shape

(103, 3)

## Using the csv to collect the latitude and longitudes

In [14]:
df_geo = pd.read_csv('http://cocl.us/Geospatial_data')
df_geo.columns = ['PostalCode', 'Latitude', 'Longitude']
df_geo

    PostalCode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

## Merging the dataframes

In [15]:
df4 = pd.merge(df3, df_geo, on=['PostalCode'], how='inner')
df_loc = df4[['PostalCode', 'Borough', 'Neighborhood','Latitude', 'Longitude']].copy()
df_loc.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494